# Abaikan folder node_modules di semua sub-direktori
**/node_modules

# Abaikan folder build Next.js
frontend/.next
frontend/out

# Abaikan folder build Sanity
studio/dist

# Abaikan file environment lokal
**/.env.local
**/.env.*.local

# File sistem operasi
.DS_Store
Thumbs.db